# .ebextensions/00_app.config
option_settings:
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:elasticbeanstalk:application:environment:
    PORT: "8000"
    PYTHONUNBUFFERED: "1"
    # Add any non-secret defaults here if you want:
    # APP_ENV: "prod"

container_commands:
  01_pip_install:
    command: "pip install --no-cache-dir -r backend/requirements.txt"
    leader_only: true